language: go
sudo: false
go:
  - "1.11"
  - tip
before_install:
  - export GO111MODULE=on
  - go get -u github.com/golang/lint/golint
  - go get -u github.com/mattn/goveralls
script:
  - go test
  - "$HOME/gopath/bin/goveralls -service=travis-ci"
  - go vet
  - golint -set_exit_status
matrix:
  allow_failures:
    - go: tip
branches:
  only:
    - master
notifications:
  slack:
    secure: riNxtZ01svHuE5ISnVXrPpgz6BXAThPw1w3S0gZAWCP59JWXCFd/TjJ7wuQgktDK6gPvC7G8DQPWkkSk2oYMtrQHQuI0poqEubmh5CGtFOuJgIrpXDEhY0+TN0GwX/LesCd9RuhYGSXTxAr3MeXB4ljsKRUdX+a56ilLsbL0MNTdlreC9gcIjBd3Lyd83vHfQj1wlE1GK911a0Lp/LbzDjJsRiM1DVyDlfwrKrAPfGpG1U5xPe0Pppr7M1ne4Z016MV37ZFE9NKHRT5xS/Ik9AJ5b1fQjVkzZipidLLvArPZMF1WQtUYjJCy5DkVUrIynU6kKXeDLI7ROmcb4dhfLkFYAj0hzLqzqmAIYZt9Po3VsTLrBuMJofw5X2nzhBerIpilmX8ej2sTa9c8sTH0cdnA5q1wmawp+RzqYSkEuidc5BFCciQg1270TOm4Mc3eS+S1FTCUhiYHNWRuOlYktMuird1UbfaCZwXmvVlBXSGb2prK84abboBjWb9zt9hTU6MB4U4TDCLVDBIqMF+bqzPEQoaM9P+X9F27ZOsKMkQ/PWnmAiFcRR6qelb0oi8eKN7i10d3lhITnd7Fwwl6LmTTmvYx8yCX2PVggYNXpqK33DjZ/M+/DAnemqvTHKiB9XY5S7FvxnBmHwVJEX4y0HZtlMyhEkVfEHCLidHBejs=
