name: test

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  schedule:
    - cron: "0 10 * * 5" # JST 19:00 (Fri)

env:
  # c.f. https://github.com/golangci/golangci-lint/blob/main/CHANGELOG.md
  GOLANGCI_LINT_VERSION: v2.4

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
        id: go

      - name: Run test
        run: |
          set -xe
          go test
          go test -race
        env:
          TEST_CHATWORK_API_TOKEN: ${{ secrets.TEST_CHATWORK_API_TOKEN }}
          TEST_CHATWORK_ROOM_ID:   ${{ secrets.TEST_CHATWORK_ROOM_ID }}
          TEST_SLACK_API_TOKEN:    ${{ secrets.TEST_SLACK_API_TOKEN }}
          TEST_SLACK_CHANNEL:      ${{ secrets.TEST_SLACK_CHANNEL }}
          TEST_SLACK_USER_NAME:    ${{ secrets.TEST_SLACK_USER_NAME }}
          TEST_SLACK_WEBHOOK:      ${{ secrets.TEST_SLACK_WEBHOOK }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

      - uses: golang/govulncheck-action@v1
        with:
          go-version-file: "go.mod"

      - name: Slack Notification
        uses: act10ns/slack@v2
        if: always()
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
