name: test

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  schedule:
    - cron: "0 10 * * 5" # JST 19:00 (Fri)

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
        id: go

      - name: Run test
        run: |
          set -xe
          go test
          go test -race
        env:
          TEST_CHATWORK_API_TOKEN: ${{ secrets.TEST_CHATWORK_API_TOKEN }}
          TEST_CHATWORK_ROOM_ID:   ${{ secrets.TEST_CHATWORK_ROOM_ID }}
          TEST_SLACK_API_TOKEN:    ${{ secrets.TEST_SLACK_API_TOKEN }}
          TEST_SLACK_CHANNEL:      ${{ secrets.TEST_SLACK_CHANNEL }}
          TEST_SLACK_USER_NAME:    ${{ secrets.TEST_SLACK_USER_NAME }}
          TEST_SLACK_WEBHOOK:      ${{ secrets.TEST_SLACK_WEBHOOK }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version-file: .golangci-lint-version

      - uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
        with:
          go-version-file: "go.mod"
          repo-checkout: "false"

      - name: Slack Notification
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: always()
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
